<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>SCSJ SOLVE SMG Grantee Map</title>

    <style>
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.28/"></script>

    <script src="/static/script.js"></script>

  </head>
  <body style="margin: auto; width: 75%; padding: 10px;">
    <div>
      <h2 style="text-align: center;">
        SOLVE Southern Movement Grant Racial Breakdown Map
      </h2>
    </div>
    <div id="viewDiv" style="height: 75%;"></div>
    <div style="margin: auto; width:75%; padding-bottom: 20px;">
      <p>
        The above map displays an approximation of the Southern Movement Grant grantee locations, represented by the orange circles. Click 
        the orange circles to view the organization name and additional information. 
      </p>
      <p>
        The counties in each state are shaded based on their population of people of color. This information was pulled from the US 2020 Census data.
        The darker the shade the county is filled with, the higher the population of people of color. 
      </p>
      <p>
        The goal of this map is to try to visualize our success in prioritizing organizations led by Black, Latinx/Hispanic, Indigenous, and
        Asian American Pacific Islander. While there were additional populations we were looking to prioritize, this map can serve as a starting point.
      </p>
    </div>
  </body>
</html>